/* 
ADJUSTING CSS BELOW IS NOT NECESSARY
You may choose to practice css by making changes to visuals
*/

html {

}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #3d2514;
    background-image: url(../img/burger-bg.png);
    background-repeat: repeat;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: normal;
}
    
a, 
a:focus, 
a:hover {
    text-decoration: none;
}

header {
    background-color: #ffc045;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
}

section {
    padding: 20px 0;
    text-align: center;
}

.logo {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
}

.button {
    background-color: #bf2222;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    padding: 16px 40px;
    line-height: normal;
    display: inline-block;
}

.button:hover {
    color:#fff;
    background-color:#ffc045;
}

footer {
    margin-top: 20px;
    padding: 30px 0;
    background-color: #3d2514;
    color: #ffffff;
}


/* 
TODO: ELEMENTS THAT NEED FONT SIZING OR LAYOUT APPLIED

- Utilize em, rem to control responsive font sizing for any typography
- Flexbox and/or CSS Grid to control layout for at least one of the following sections: Hero, Menu, Features and Footer

*/

.container {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;

}

.section-title {
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #3d2514;
    margin-bottom: 10px;
    text-align: center;
    font-size: 3.125rem;
}

.section-subtitle {
    font-weight: 500;
    margin-bottom: 28px;
    text-align: center;
    font-size: 2rem;
}

img {

}

/* Hero */

.hero {
 /* HINT: Add responsive font sizing for any typography for this section! */
 display: flex;
 gap: 2rem;
 align-items: center;
 padding-top: 150px;

}

.hero-item {

}

.hero-item img {
    width: 28rem;

}

.hero-title {
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-shadow: 4px 5px #fee7ba;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 3.125rem;
    padding-bottom: 1.5rem;
    
}

.hero-subtitle {
    font-weight: 500;
    font-size: 1.5rem;
}

/* Menu */

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

}

.menu-item {
    background-color: rgba(255, 192, 69, 0.8);
    padding-top: 15px
}

.menu-item img {

}

.menu-burger {
    /* Don't forget to add responsive font sizing based on the mockup!  */
}

.menu-description {
    font-size: 1.25rem;
    
}

.price {
    background-color: #bf2222;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 16px 40px;
    line-height: normal;
    display: inline-block;
    font-size: 1rem;
}

/* Features */

.features {
    display: flex;
    gap: 10rem;
    justify-content: center;
    flex-direction: row;

}

.features-item {

}


.featureH3{
    font-size: 1.5rem;
}

.featuresP{
    font-size: 1.25rem;
}



/* Typography */

h4 {
font-size: 1.75rem;

}





/* Footer Styles */
.footer-container {
    display: flex;
    gap: 5rem;
    align-items: center;
    flex-direction: row;

}

.footer-item {
    text-align: center;

}

.footerH2{


}

/* 
TODO: ADD MEDIA QUERIES BELOW 

- Must adjust at least one element for 4 seperate breakpoints

*/

@media (max-width:780px) {

    .hero {

        flex-direction: column;
        gap: 4rem;
    }

    .features{
        flex-direction: column;
        gap: 4rem;
    }

    .menu {

        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
}

    .footer-container{

        flex-direction: column;
        gap: 4rem;
    }

    .logo, .section-title {

        font-size: 2rem;

    }

    .hero-title {

        font-size: 2.5rem;
    }

    .hero-subtitle {

        font-size: 1.25rem;
    }

   
    .section-subtitle, .footerH2 {

        font-size: 1.5rem;
    }

    h4 {

        font-size: 1.75rem;

    }

    .featuresP, .menu-description {

        font-size: 1rem;
    }

    .footer-item {

        font-size: 1rem;

    }

    




}

